{{template "base".}} <!-- use template base, no ending point  . means use the data here *-->

{{define "content"}}
    <div class="container">
        <!-- class is the cascading style sheet directive, its a collection of things inside a main part of the css file that says take all the styling that I define here and apply to this class-->
        <!-- id should be unique on the page-->
        <div class="row">
            <h1 class="text-center mt-4">Contact Us</h1> <!-- mt = margin top 4-->
            <div class="col">
                <p> This will be the contact page.
                </p>
            </div>
        </div>
    </div>
{{end}}
