{{template "base".}} <!-- use template base, no ending point  . means use the data here *-->

{{define "content"}}
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- "col-lg-6 col-md-6 col-sm-12 col-xs-12"on large screen take half the space, will middle only on how much space is taken-->
                    <img src="/static/images/majors-suite.png"
                         class="img-fluid img-thumbnail mx-auto d-block room-image">
                    <!-- bootstrap divides the row into 12 cols-->
                </div>
            </div>
        </div>

        <div class="row">
            <h1 class="text-center mt-4">Major's Suite</h1> <!-- mt = margin top 4-->
            <div class="col">
                <p>
                    Your home away from home, set on the majestic waters of aurora lights, this will be a vacation to
                    remember.
                    Your home away from home, set on the majestic waters of aurora lights, this will be a vacation to
                    remember.
                    Your home away from home, set on the majestic waters of aurora lights, this will be a vacation to
                    remember.
                    Your home away from home, set on the majestic waters of aurora lights, this will be a vacation to
                    remember.
                    Your home away from home, set on the majestic waters of aurora lights, this will be a vacation to
                    remember.
                    Your home away from home, set on the majestic waters of aurora lights, this will be a vacation to
                    remember.
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
            </div>
        </div>

    </div>
{{end}}

{{define "js"}}
    <script>
        let attention = Prompt();
        // send the POST request and return the response as AJAX, create an http request behind the scenes using AJAX and send response as JSON
        document.getElementById("check-availability-button").addEventListener("click", function () {
            let html = `
                <form id="check-availability-form" action="/reservation-json" method="POST" novalidate class="needs-validation">
                    <div class="form-group row">
                        <div class="col">
                            <div class="form-group row" id="reservation-dates-modal">
                                <div class="col-6">
                                    <input required disabled class = "form-control" type="text" name="start" id="start" placeholder="Arrival" autocomplete="off">
                                </div>
                                <div class="col-6">
                                    <input required disabled class = "form-control" type="text" name="end" id="end" placeholder="Departure" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            `
            let attention = Prompt()
            attention.custom({
                msg: html,
                title: "Choose your dates",
                callback: function (result) {
                    let form = document.getElementById("check-availability-form");
                    let formData = new FormData(form); // contains all of the inputs that are present in form
                    formData.append("csrf_token", "{{.CSRFToken}}")
                    formData.append("room_id", "2")

                    // fetch in js sends requests
                    fetch("/reservation-json", {
                        method: "POST",
                        body: formData,
                    }).then(response => response.json()).then(data => { // data is nicely parsed json response
                        console.log(data);
                        if (data.ok) {
                            console.log(data)
                            attention.custom({
                                    icon: 'success',
                                    msg: '<p>Room is available!</p>'
                                        + '<p><a href="/book-room?id=' + data.room_id +
                                        '&s=' + data.start_date +
                                        '&e=' + data.end_date +
                                        '" class="btn btn-primary">'
                                        + 'Book Now!</a></p>',
                                    showConfirmButton: false
                                }
                            )
                        } else {
                            attention.error({
                                msg: data.message
                            })
                        }
                    })
                },
                willOpen: () => {
                    const ele = document.getElementById("reservation-dates-modal");
                    const rp = new DateRangePicker(ele, {
                        format: "dd-mm-yyyy",
                        showOnFocus: true,
                        orientation: "top",
                        minDate: new Date(),
                    })
                },
                didOpen: () => {
                    document.getElementById("start").removeAttribute('disabled');
                    document.getElementById("end").removeAttribute('disabled');
                }
            });
        })
    </script>
{{end}}